@import url(header.css);
@import url(footer.css);
@import url(home.css);
@import url(station.css);
@import url(stationShow.css);

:root {
    --green-main: #498372;
    --green-dark: #30554b;
    --green-light: #b7d8cc;
    --green-hover: #a3c836;
}


html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    padding-top: 60px;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
