@import url(header.css);
@import url(footer.css);
@import url(home.css);

:root {
    --green-main: #498372;
    --green-dark: #30554b;
    --green-light: #b7d8cc;
}


html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
}
